<main>
    <div class="logo">
        <img src="../../../assets/Logo.svg" alt="LOGO">
        <div class="para">
            <p>Online Project Management</p>
        </div>
    </div>
</main>
<div class="box">
    <form [formGroup]="loginForm" (submit)="proceedLogin()">
        <div>
            <p>Login to get started</p>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" formControlName="id" class="form-control">
            <p [style.fontSize]="'14px'" class="text-danger">Email is required</p>
        </div>
        <div>
            <label for="password" >Password</label>
            <input type="password" formControlName="password"  class="form-control">
            <small [style.fontSize]="'14px'" class="text-danger">Password is required</small>
            <a href="">Forgot password?</a>
        </div>
        <div>
            <button class="btn btn-primary" >Login</button>
        </div>
    </form>
</div>
