<main>
    <div class="left">
        <div class="click-logo">
            <a class="dashboard" [routerLinkActive]="'dashboard-active'" routerLink="/dashboard"></a>
            <a class="project-list" [routerLinkActive]="'project-list-active'" routerLink="/listing"></a>
            <hr>
            <a class="create-project" [routerLinkActive]="'create-project-active'" routerLink="/insert"></a>
            <a class="logout" [routerLinkActive]="''" routerLink="/"></a>
        </div>
    </div>
</main>